<?xml version="1.0"?>
<launch>

  <arg name="robot" doc="Name of robot. ex: mycobot"/>

  <group ns="$(arg robot)">  

    <node pkg="pick_place" type="routine_node.py" name="routine_node" output="screen">
        <rosparam command="load" file="$(find pick_place)/config/routine_node/default.json"/>

    </node>

  </group>

</launch>